@media screen and (max-width: 790px){
    header,section,footer{
        border: 1px solid rgb(152, 152, 152);
        background-color:rgba(255, 255, 255, 0.83);
    }
    .sites_img{
        display: none;
    }
}
@media screen and (min-width: 790px){
    header,section,footer{
        width: 770px!important;
        border: 1px solid rgb(152, 152, 152);
        background-color:rgba(255, 255, 255, 0.83);
    }
    
}
@media screen and (min-width: 990px){
    header,section,footer{
        width: 970px!important;
        border: 1px solid rgb(152, 152, 152);
        background-color:rgba(255, 255, 255, 0.83);
    }
}
@media screen and (min-width: 1190px){
    header,section,footer{
        width: 1170px!important;
        border: 1px solid rgb(152, 152, 152);
        background-color:rgba(255, 255, 255, 0.26);
    }
}
#logo{
    transition: 1.2s;
    width:100px; 
    height:100px;
    border: 1px solid rgb(152, 152, 152); 
    border-radius:50px;
    cursor: pointer;
}
#logo:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
.sites{

}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:8px;
    }
    /* 滚动槽 */
::-webkit-scrollbar-track {
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
border-radius:6px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
border-radius:8px;
background:rgba(0,0,0,0.3);
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(0,0,0,0.2);}